In [15]:
#Uso e importación de la libreria Pandas para Python
import pandas as pd
#Uso e importación de la libreria Numpy para Python
import numpy as np
#Uso e importación de la libreria Matplotlib para Python
import matplotlib.pyplot as plt
#Uso e importación de la libreria Seaborn para Python
import seaborn as sns

In [16]:
# Leer el dataset
df = pd.read_csv("dataset_siniestros_2022.csv", sep=",")
df

,MES,NEGATIVO,SOLO DAÑOS,CHOQUE CON LESIONADOS,FALSA ALARMA,POR ATROPELLO,INSPECCION A CADAVER,POR VOLCAMIENTO,POR CAIDA DE OCUPANTE,MUERTE EN LA VÍA,TOTAL
0,ENERO,1491,513,292,3,39,19,16,11,4,2388
1,FEBRERO,1757,544,307,1,44,15,12,16,2,2698
2,MARZO,2042,638,358,1,35,13,14,18,2,3121
3,ABRIL,1752,502,319,1,39,15,11,12,6,2657
4,MAYO,1959,532,324,5,50,26,15,14,8,2933
5,JUNIO,1822,533,309,1,48,21,6,17,5,2762
6,JULIO,1886,484,328,0,47,24,14,17,7,2807
7,AGOSTO,1868,438,329,2,37,19,7,23,7,2730
8,SEPTIEMBRE,1944,437,316,6,47,17,17,18,10,2812
9,OCTUBRE,1586,159,321,3,38,15,16,12,12,2162
10,NOVIEMBRE,1538,109,357,3,0,7,0,0,9,2023
11,DICIEMBRE,1580,88,338,5,0,18,0,0,14,2043
12,TOTAL,21225,4977,3898,31,424,209,128,158,86,31136

In [17]:
# Explorar los datos
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   MES                    13 non-null     object
 1   NEGATIVO               13 non-null     int64
 2   SOLO DAÑOS             13 non-null     int64
 3   CHOQUE CON LESIONADOS  13 non-null     int64
 4   FALSA ALARMA           13 non-null     int64
 5   POR ATROPELLO          13 non-null     int64
 6   INSPECCION A CADAVER   13 non-null     int64
 7   POR VOLCAMIENTO        13 non-null     int64
 8   POR CAIDA DE OCUPANTE  13 non-null     int64
 9   MUERTE EN LA VÍA       13 non-null     int64
 10  TOTAL                  13 non-null     int64
dtypes: int64(10), object(1)
memory usage: 1.2+ KB